{% extends 'SynapseAdminBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
  {{ form_start(form) }}
  <div class="row-fluid">
    <div class="col-fill">
      <div class="panel">
        <header class="panel-heading composed bg-main">
          <a href class="combo">
            <i class="fa fa-object-group"></i>
          </a>
          <h3>Init skeleton</h3>
          <a href="{{ path('synapse_admin_page_list') }}" class="combo">
            <i class="fa fa-times"></i>
            <span>Cancel</span>
          </a>
        </header>
        <div class="panel-body">
          {{ form_row(form.content_type) }}
          {{ form_row(form.template_type) }}
        </div>
      </div>
    </div>
    <div class="col-fix">
      <div class="button-bar" data-spy="affix" data-offset-top="55">
        <a class="btn btn-big btn-warning" href="{{ path('synapse_admin_skeleton_list') }}">
          <i class="fa fa-times"></i>
          <span>Cancel</span>
        </a>
        <button type="submit" class="btn btn-big btn-success">
          <i class="fa fa-check"></i>
          Init
        </button>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
