{% extends 'SynapsePageBundle::layout.html.twig' %}

{% form_theme form 'SynapseAdminBundle:Form:synapse_admin_form_layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li>
          <a href="{{ path('synapse_admin_page_list') }}">
            <i class="fa fa-files-o"></i>
            Pages
          </a>
        </li>
        <li class="active">{{ page.name }}</li>
        <li class="active">edit</li>
      </ul>
    </div>
  </div>

  {{ form_start(form) }}

  <div class="row-fluid">
    <div class="col-fill row">

      {# General #}
      <div id="form-general" class="panel col-md-6">
        <header class="panel-heading composed bg-main">
          <a href class="combo">
            <i class="fa fa-file-text-o"></i>
          </a>
          <h3>General</h3>
        </header>
        <div class="panel-body">
          {{ form_row(form.name) }}
          {{ form_row(form.online) }}
        </div>
      </div>

      {# Metas #}
      <div id="form-meta" class="panel col-md-6">
        <header class="panel-heading composed bg-main">
          <a href class="combo">
            <i class="fa fa-sitemap"></i>
          </a>
          <h3>Metadata</h3>
        </header>
        <div class="panel-body">
          {{ form_row(form.meta) }}
        </div>
      </div>

      {# Content #}
      <div id="form-content" class="synapse-theme-form panel col-md-12">
        <header class="panel-heading composed bg-main">
          <a href class="combo">
            <i class="fa fa-scribd"></i>
          </a>
          <h3>Content</h3>
        </header>
        {% if form.synapse is defined %}
          {{ form_widget(form.synapse) }}
        {% else %}
          <div class="panel-body panel-body-info">
            <p class="info">
              <span class="badge label-warning"><i class="fa fa-warning"></i></span>
              You don't have any active theme, you won't be able to display the page. Create a theme and at least a template to apply one to this content.
            </p>
          </div>
        {% endif %}
      </div>

    </div>
    <div class="col-fix">
      <div class="button-bar" data-spy="affix" data-offset-top="55">
        <a class="btn btn-big btn-warning" href="{{ path('synapse_admin_page_list') }}">
          <i class="fa fa-times"></i>
          <span>Cancel</span>
        </a>
        {% set void = form.submit.setRendered(true) %}
        <button class="btn btn-big btn-success" type="submit"
          id="{{ form.submit.vars.id }}" name="{{ form.submit.vars.full_name }}"
        >
          <i class="fa fa-2x fa-check"></i>
          Submit
        </button>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
