{% extends 'SynapsePageBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
  <div class="col-fill">
    <div class="panel">
      <header class="panel-heading composed bg-main">
        <a href class="combo">
          <i class="fa fa-files-o"></i>
        </a>
        <h3>Pages</h3>
      </header>
      <table class="table table-striped table-advance table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Online</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for page in pages %}
          <tr>
            <td>
                {% for i in range(0, page.lvl) if i > 0 %}|---{% endfor %}
                {{ page.name }}
            </td>
            <td>
                {% set url = url(page_rendering_route, { path: page.path }, 0) %}
                <a href="{{ url }}" target="__blank">
                    {{ url }}
                </a>
            </td>
            <td>
              {% if page.online %}
                <span class="badge label-success">
                  <i class="fa fa-check"></i>
                </span>
              {% else %}
                <span class="badge label-danger">
                  <i class="fa fa-times"></i>
                </span>
              {% endif %}
            </td>
            <td class="text-right">
              <a class="btn btn-success btn-sm" href="{{ path('synapse_admin_page_edition', { id: page.id }) }}">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-info btn-sm" href="{{ path('synapse_admin_page_preview', { id: page.id }) }}" target="__preview">
                <i class="fa fa-search"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-fix">
    <div class="button-bar" data-spy="affix" data-offset-top="55">
      <a class="btn btn-big btn-primary" href="{{ path('synapse_admin_page_creation') }}">
        <i class="fa fa-plus"></i>
        <span>Create</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
