{% extends 'SynapseAdminBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
  {{ form_start(form) }}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <header class="panel-heading composed bg-main">
          <a href class="combo">
            <i class="fa fa-object-group"></i>
          </a>
          <h3>Init skeleton</h3>
          <a href="{{ path('synapse_admin_page_list') }}" class="combo">
            <i class="fa fa-times"></i>
            <span>Cancel</span>
          </a>
        </header>
        <div class="panel-body">
          {{ form_row(form.content_type) }}
          {{ form_row(form.template_type) }}
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn">
              <i class="fa fa-check"></i>
              Init
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
