{% extends 'SynapseAdminBundle::layout.html.twig' %}

{% form_theme form 'SynapseAdminBundle:Form:synapse_admin_form_layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li>
          <a href="{{ path('synapse_admin_skeleton_list') }}">
            <i class="fa fa-object-group"></i>
            Skeletons
          </a>
        </li>
        <li class="active">{{ skeleton.templateType.name | humanize }}</li>
        <li class="active">{{ skeleton.contentType.name | humanize }}</li>
        <li class="active">edit</li>
      </ul>
    </div>
  </div>

  {{ form_start(form) }}
  <div class="row-fluid synapse-theme-form">
    <div class="col-fill">
      <div class="panel">
        <header class="panel-heading composed bg-main">
          <a href class="combo">
            <i class="fa fa-object-group"></i>
          </a>
          <h3>Edit skeleton <b>{{ skeleton.templateType.name | humanize }}</b> for <b>{{ skeleton.contentType.name | humanize }}</b> content type</h3>
        </header>
        <div class="panel-body">

        </div>
        {{ form_widget(form) }}
      </div>
    </div>
    <div class="col-fix">
      <div class="button-bar" data-spy="affix" data-offset-top="55">
        <a class="btn btn-big btn-warning" href="{{ path('synapse_admin_skeleton_list') }}">
          <i class="fa fa-times"></i>
          <span>Cancel</span>
        </a>
        <button class="btn btn-big btn-primary" type="submit">
          <i class="fa fa-2x fa-check"></i>
          Submit
        </button>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
