{% extends 'bootstrap_3_layout.html.twig' %}

{% block theme_widget %}
  <div class="panel-body">
    <div class="row tab-content">
      <div class="form-group col-md-5">
        <label class="control-label required">Template to edit</label>
        {{ form_widget(form.template_types, { 'attr': { 'class': 'template-select' } }) }}
      </div>
    </div>
  </div>
  <div class="panel-body tab-content">
  {# edition form #}
  {% for templateName, templateForm in form.templates %}
    <div class="template-{{ templateName }} tab-pane template-pane" role="tabpanel">
      {{ form_widget(templateForm) }}
    </div>
  {% endfor %}
  {# init form #}
  {% for template_type_name, template_data in templates_init_map %}
    <div class="row template-{{ template_type_name }} tab-pane template-pane" role="tabpanel">
      <div class="pull-right template-init-button">
        <a href="{{ url('synapse_admin_template_init', { templateType: template_data.template_type_id, contentType: template_data.content_type, contentId: template_data.content_id }) }}"
          class="btn btn-primary"
        >
          <i class="fa fa-plus"></i>
          Create
        </a>
      </div>
      <div class="col-md-5 col-md-offset-5 template-init-message">
        <p class="info">
          <span class="badge label-info"><i class="fa fa-info"></i></span>
          There is no "{{ template_type_name|humanize|lower }}" template for this "{{ template_data.content_type|humanize|lower }}" content only, it uses global skeleton for now. Want you to create a dedicated template for this content ?<br>
        </p>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}

{% block template_widget %}
  <div class="row zone-selector-container">
    <div class="separator col-md-2 col-md-offset-5">
      <i class="fa fa-2x fa-arrow-right"></i>
    </div>
    <div class="form-group col-md-5">
      <label class="control-label required">Zone to edit</label>
      {{ form_widget(form.zone_types, { 'attr': { 'class': 'zone-select' } }) }}
    </div>
  </div>
  <div class="zone-form-container tab-content">
  {% for zoneForm in form.zones %}
    {{ form_widget(zoneForm, { template: form.vars.data.template }) }}
  {% endfor %}
  </div>
{% endblock %}

{% block zone_widget %}
  <div class="zone-{{ zone_name }} tab-pane zone-pane" role="tabpanel">
    <div class="clearfix">
      <div class="dropdown pull-right">
        <button id="add-components" class="btn btn-xs btn-primary" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Components
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="add-components">
        {% for componentTypeId, componentTypeName in component_types %}
          <li>
            <a href="{{ path('synapse_admin_template_add_component', { id: template.id, zoneTypeId: zone_type_id, componentTypeId: componentTypeId }) }}">
              {{ componentTypeName | humanize }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <h4>{{ zone_name|humanize }}</h4>
    </div>
    <div class="component-form-container">
    {% for componentForm in form.components %}
      {{ form_widget(componentForm, { zone: form.vars.data.zone }) }}
    {% endfor %}
    </div>
  </div>
{% endblock %}

{% block component_widget %}
  <div class="component-form-wrapper">
    <header class="component-form-header">
      <button
        class="component-form-toggle btn btn-link collapsed"
        aria-controls="collapseExample"
        aria-expanded="false"
        data-target="#{{ form.vars.id }}"
        data-toggle="collapse"
        type="button">
          <i class="icon fa fa-chevron-up"></i>
      </button>
      {{ form_label(form, null, { label_attr: { class: 'badge' }}) }}
      <span class="center"></span>
      <label class="action input-switch">
        <input name="enabled" type="checkbox">
        <span class="input-switch--label">Active</span>
        <span class="input-switch--toggle"></span>
      </label>
      <button class="action btn btn-link" type="button"><i class="fa fa-arrows"></i></button>
      <a class="action btn btn-link"
        href="{{ url('synapse_admin_component_delete', { zoneId: zone.id, componentId: form.vars.component_id }) }}" >
        <i class="fa fa-trash"></i>
      </a>
    </header>
    {{ form_widget(form, {
      attr: {
        class: 'component-form-content collapse',
        'aria-expanded':  'false'
      }
    }) }}
  </div>
{% endblock %}
